---
sitemap: false
---

/*
 *
 *  Minimal Mistakes
 *
 *  Designer: Michael Rose
 *  Twitter: http://twitter.com/mmistakes
 *
*/

// Partials
@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "coderay";
@import "elements";
@import "forms";
@import "page";
@import "vendor/font-awesome/font-awesome";
@import "vendor/magnific-popup/magnific-popup";
//@import "vendor/google/fonts";

.social-share {
	padding: 5px 0 20px 0;
}
.socialcount {
	font-size:16px;
	font-size:1rem;
	margin:0 auto;
	text-align:center;
}
.socialcount li {
	padding:0 10px 10px 10px;
	display:inline;
}
.socialcount p>a,.socialcount li>a {
	border-bottom-width:0;
	text-decoration:none;
}
.socialcount a:hover {
	border-bottom-width:1;
}